body {
    font-family: 'Arial', sans-serif;
    background-image: url();
    color: #ffe600; /* Texto em cinza escuro */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #0077cc; /* Azul viagem */
}

.voltar {
    background-color: #0077cc; /* Azul viagem */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin: 20px auto;
    display: block;
}

.voltar:hover {
    background-color: #005fa3; /* Azul mais escuro */
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.box {
    background-color: #ffffff; /* Branco para as boxes */
    border: 2px solid #0077cc; /* Azul viagem */
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.box a {
    color: #0077cc; /* Azul viagem */
    text-decoration: none;
}

.box a:hover {
    color: #005fa3; /* Azul mais escuro */
}

/* Novos estilos para textos */
p {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
}

.bottonn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}